.form-search{
    display: flex;
    background: #FFFFFF;
    padding: 24px;
    gap: 16px;

}
.input-search{
    border: 0px;
    border-bottom: 1px solid #D6DDEB;
    border-radius: 0;
    width: 100%;
}
.search-content .ant-select-selector{
    height: 100% !important;
    padding: 14px 0px !important;
    border:0 !important
}
.search-group{
    flex: 1;
    display: flex;
    gap: 16px;
}