.form-wrapper{
    width: 408px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: grid;
    gap: 24px;
}
.btn-google{
    width: 100%;
    color: #4640DE;
    font-weight: bold;
}
.text-line{
    position: relative;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #D6DDEB;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.form-wrapper p{
    margin:0;
    text-align: left;
}
.form-wrapper h3{
    margin:0;
}