.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: var(--neutrals-0, #fff) !important;
  box-shadow: 0px -1px 0px 0px #d6ddeb inset !important;
  height: 114px;
}

