.footer{
    color:#FFFFFF;
    background: #202430;
}
.list-footer{
    padding: 0;
    list-style: none;
}
.list-footer li{
    margin:11px 0px;
    color: #D6DDEB;
}
.footer-icon{
 display: flex;
 gap:24px;
}
.icon-box-footer{
    width: 32px;
    height: 32px;
    background: rgb(255,255,255,0.2);
    text-align: center;
    vertical-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}