.sidebar {
  background-color: #f8f8fd !important;
  box-shadow: 1px 0px 0px 0px #d3d6db !important;
}
.layout-wrapper {
  height: 100vh;
}
.header {
  padding: 32px;
  background: var(--neutrals-0, #fff) !important;
  box-shadow: 0px -1px 0px 0px #d6ddeb inset !important;
  height: 114px;
}
.content {
  background-color: #ffffff;
  padding: 0px 32px;
}
.chart-box {
  height: auto;
}

.icon-card {
  position: absolute;
  width: 88px;
  height: 88px;
  background-repeat: no-repeat;
  right: 22px;
  bottom: -20px;
}
.series-rect{
  width: 20px;
  height: 20px;
}
.series-data{
  display: flex;
  align-items: center;
  gap: 16px;
}
.chart{
  width: 60%;
}
.series{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-strong{
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: var(--brands-primary, #4640DE);
}
.schedul-body{
  display: grid;
  gap: 16px;
}
.schedul-header{
  padding: 16px 24px;
  position: relative;
}