.sidebar {
  background-color: #f8f8fd !important;
  box-shadow: 1px 0px 0px 0px #d3d6db !important;
}
.ant-layout-sider-children {
  display: grid;
  grid-template-rows: 114px calc(100% - 114px - 316px) 316px;
}
.sidebar-logo {
  text-align: center;
  padding: 32px 0px;
}

.sidebar-footer {
  background: url('/assets/sidebar-background.png');
  background-position-y: -200px;
}

.main-menu {
  list-style: none;
  padding: 0;
}

.main-menu li {
  padding: 12px 32px;
  color: #7c8493;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  cursor: pointer;
}
.main-menu li:hover {
  background-color: #e9ebfd;
  color: #4640de;
}
.setting-menu {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccccf5;
  padding: 12px 0px;
}

.setting-menu label {
  padding: 0px 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.56px;
  color: #202430;
}
